@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
}

/*
Color Palettes
#F7F7F7
#EEEEEE
#393E46
#929AAB
*/

body {
    background-color: #F7F7F7;
}

header {
    text-align: center;
    padding: 50px;
    font-family: 'Lilita One', cursive;
    font-size: 2rem;
    color: #393E46;
}

.app {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-family: 'Roboto', sans-serif;
}

.grid {
    display: grid;
    width: 600px;
    height: 600px;
    box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
}

.cell {
    /* border: 1px solid black; */
    aspect-ratio: 1 / 1;
}

input[type=range]::-webkit-slider-runnable-track {
    cursor: pointer;
}

.button {
    color: #F7F7F7;
    border: 1px solid black;
    cursor: pointer;
    background: #393E46;
    font-weight: 700;
    padding: 10px 12px;
    border-radius: 6px;
    transition: all .1s ease-in-out;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

.button:hover {
    transform: scale(1.1);
}

.grid-size-container {
    text-align: center;
    margin: 10px 0px;
}

.draw-options-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

form {
    display: grid;
    gap: 1em;
}